/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background-color: rgb(255, 253, 246);
  color: rgb(34, 34, 34);
  font-family: 'Raleway', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
input, label, button, li, p {
  font-size: 1.85rem;
}

h1 {
  font-size: 4.7rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.next {
  display: none;
}